[defaults]
inventory = inventories/hosts.ini
host_key_checking = False
private_key_file=/home/amw/Office/DevOps/linux-high-availability-Prjct_03/Lab_VMs/VMs_Keys/Repo3_VMs_key_ed25519
ask_pass = False
# ask_become_pass = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
# ssh_args = -o ControlMaster=auto -o ControlPersist=60s
